{% extends 'dotm_Dashboard.html' %} {% block body_block %}

<div class="top-section">
  <h5>Bar graph of exceeded speed limit VS Within Speed limit</h5>
  <img src="data:image/png;base64,{{ chart_path }}" alt="Chart" />
</div>
<div class="bottom-section">
  <h5>Station List</h5>

  <table>
    <tr>
      <th>Station ID</th>
      <th>AreaCode</th>
      <th>Location</th>
      <th>Mac-Address</th>
    </tr>
    {% for station in stations|slice:":4" %}
    <tr>
      <td>{{ station.IDs }}</td>
      <td>{{ station.areacode }}</td>
      <td>{{ station.location }}</td>
      <td>{{station.mac_address}}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="{% url 'traffics' %}" class="show-more-button">Show More</a>
</div>

{% endblock %}
