{% extends 'dotm_Dashboard.html' %}
{% block body_block %}

  
    <div class="upload-container">
      <label for="fileInput" class="upload-button">Upload</label>
      <input type="file" id="fileInput" accept=".pdf, .jpeg, .jpg">
    </div>


  <div id="fileInfo">

    <table id="fileTable">
      <thead>
        <tr>
          <th>Notice</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
      </tbody>

    </table>

  </div>

  <script>
   const uploadButton = document.querySelector('.upload-button');
   const fileInput = document.getElementById('fileInput');
   const fileTableBody = document.querySelector('#fileTable tbody');

  //  To upload file
    fileInput.addEventListener('change', () => {
      const file = fileInput.files[0];
      if (file) {
        const fileType = file.type;
        if (fileType === 'application/pdf' || fileType === 'image/jpeg') {
          // Perform the file upload operation here
          const row = createFileRow(file);
          fileTableBody.appendChild(row);
        } else {
          alert('Please upload a PDF or JPEG file.');
          fileInput.value = ''; // Reset the file input value
        }
      }
    });

    // Action in table after uploading the file
    function createFileRow(file) {
      const row = document.createElement('tr');

      const fileNameCell = document.createElement('td');
      fileNameCell.textContent = file.name;
      row.appendChild(fileNameCell);

      const actionsCell = document.createElement('td');
      const viewButton = document.createElement('button');
      viewButton.textContent = 'View';
      viewButton.className = 'view-button';

      // viewing the file 
      viewButton.addEventListener('click', () => {
        // Perform the file view operation here
        const fileURL = URL.createObjectURL(file);
        window.open(fileURL);
      });
      actionsCell.appendChild(viewButton);

      // file deleting operation
      const deleteButton = document.createElement('button');
      deleteButton.textContent = 'Delete';
      deleteButton.className = 'delete-button';
      deleteButton.addEventListener('click', () => {
        row.remove();
      });
      actionsCell.appendChild(deleteButton);

      row.appendChild(actionsCell);

      return row;
    }


    

  </script>

{% endblock %}