{% extends 'dotm_Dashboard.html' %}



{% block body_block %}

<div class="container">
  <div class="button-container">
    <button id="addButton"><i class="fas fa-plus" style="margin-right: 10px;"></i> Add</button>
  </div>

  <table>
    <tr>
    
      <th>AreaCode</th>
      <th>Location</th>
      <th>mac_address</th>
      
     
    </tr>
    {% for traffic in Station_list %}
    <tr>
   
      <td>{{traffic.areacode}}</td>
      <td>{{traffic.location}}</td>
      <td>{{traffic.mac_address}}</td>
      <td><button class="edit-button"><i class="fas fa-edit"></i> Edit</button></td>
     
      
    </tr>
    {% endfor %}
  </table>
  
</div>


<!-- Overlay model for registration of Traffic Booth -->
<div id="registration_overlay" class="registration_overlay">
  <div class="message-box">
    <button id="closeButton" class="close-button">&times;</button>
    <h2>Register Traffic Booth</h2>
    <form action="{% url 'traffics' %}" method="POST">
      {% csrf_token %}
    
  
      <label for="areaCode">Area Code</label>
      <input type="text" id="areaCode" name="areaCode" required>
  
      <label for="location">Location</label>
      <input type="text" id="location" name="location" required>

      <label for="mac_address">mac_address</label>
      <input type="text" id="mac_address" name="mac_address" required>
  
      <button type="submit">Submit</button>
      
      
  </form>
  </div>
</div>




<script>
  const addButton = document.getElementById('addButton');
  const overlay = document.getElementById('registration_overlay');
  const closeButton = document.getElementById('closeButton');
  const areaCodeInput = document.getElementById('areaCode');
  const editButtons = document.getElementsByClassName('edit-button');
  


  addButton.addEventListener('click', () => {
    overlay.style.display = 'block';

     // Clear the input fields
   
    document.getElementById('areaCode').value = '';
    document.getElementById('location').value = '';
    document.getElementById('mac_address').value = '';
  });

  closeButton.addEventListener('click', () => {
    overlay.style.display = 'none';
  });
   // Add submit event listener to the form
const registrationForm = document.querySelector('#registration_overlay form');

registrationForm.addEventListener('submit', (event) => {
const areaCodeValue = areaCodeInput.value.trim();


if (!/^[0-9]+$/.test(areaCodeValue )) {
  event.preventDefault(); // Prevent form submission
  alert('Traffic booth or Area code must only contain numeric values.');
}
});

// ...

let selectedRow = null;

// Add event listeners to edit buttons
for (const editButton of editButtons) {
editButton.addEventListener('click', () => {
  overlay.style.display = 'block';

  // Get the table row associated with the clicked edit button
  const row = editButton.parentNode.parentNode;

  // Get the data values from the table cells of the row
 
  const areaCode = row.cells[0].textContent;
  const location = row.cells[1].textContent;
  const mac_address = row.cells[2].textContent;

  // Populate the form with the existing data
 
  document.getElementById('areaCode').value = areaCode;
  document.getElementById('location').value = location;
  document.getElementById('mac_address').value = mac_address;

  

  // Set the selected row to the current row
  selectedRow = row;
});
}

// Handle the submission of the edited data
registrationForm.addEventListener('submit', (event) => {
event.preventDefault(); // Prevent form submission

if (selectedRow) {
  // Get the edited values from the form

  const editedAreaCode = document.getElementById('areaCode').value;
  const editedmac_address = document.getElementById('mac_address').value;
  const editedLocationInput = document.getElementById('location');
  let editedLocation = editedLocationInput.value;
  // Capitalize the first letter of the edited location
  editedLocation = capitalizeFirstLetter(editedLocation);

  // Update the selected row with the edited data
  
  selectedRow.cells[0].textContent = editedAreaCode;
  selectedRow.cells[1].textContent = editedLocation;
  selectedRow.cells[2].textContent = editedmac_address;


 // Update the value in the form input field
  editedLocationInput.value = editedLocation;

  // Close the overlay after submission
  overlay.style.display = 'none';

  // Reset the selected row
  selectedRow = null;
}else{
  // Create a new row for the added data
  const table = document.querySelector('table');
      const newRow = document.createElement('tr');
    
      const areaCodeCell = document.createElement('td');
      const locationCell = document.createElement('td');
      const mac_addressCell = document.createElement('td');
      const editButtonCell = document.createElement('td');
      const editButton = document.createElement('button');
      const editIcon = document.createElement('i');

      
      areaCodeCell.textContent = document.getElementById('areaCode').value;
      let newLocation = document.getElementById('location').value;
      newLocation = capitalizeFirstLetter(newLocation);
      locationCell.textContent = newLocation;
      mac_addressCell.textContent = document.getElementById('mac_address').value;
     
      editIcon.classList.add('fas', 'fa-edit');
      editButton.classList.add('edit-button');
      editButton.appendChild(editIcon);
      editButtonCell.appendChild(editButton);
     
      newRow.appendChild(areaCodeCell);
      newRow.appendChild(locationCell);
      newRow.appendChild(mac_addressCell);
      newRow.appendChild(editButtonCell);
      table.appendChild(newRow);

  // Close the overlay after submission
  overlay.style.display = 'none';
    }

    // Submit the form
    registrationForm.submit();
  });

function capitalizeFirstLetter(string) {
return string.charAt(0).toUpperCase() + string.slice(1);
}

// ...



</script>

 {% endblock %}